/*Start Global Rules*/
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,800&display=swap'); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* font-family: 'Montfont-serrat', sans-serif;  */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 780px;
}
/*End Global Rules*/
:root {
  --maincolor: #ff523b;
  --subcolor: #333;
  --blackcolor: #212121;
}
.container {
  width: 80%;
  margin: auto;
}
a {
  text-decoration: none;
}
.list-unstyled {
  list-style: none;
}

.section-padding {
  padding: 30px 0;
}
.section-header {
  text-align: center;
  margin-bottom: 25px;
}
.section-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.section-header .line {
  display: block;
  width: 90px;
  margin: auto;
  height: 3px;
  background: var(--maincolor);
  transition: width 0.5s;
}
.section-header:hover .line {
  width: 120px;
}
/*header*/
header {
  padding: 30px 0;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content img {
  flex: 1;
  max-width: 155px;
}
.header-content nav {
  flex: 3;
  text-align: center;
  font-size: 18px;
}

.header-content ul .login {
  flex: 1;
  text-align: right;
}
.header-content ul li {
  display: inline-block;
}
.header-content ul li,
.header-content ul li a {
  color: var(--subcolor);
}
.header-content nav ul li .link-item {
  position: relative;
  padding: 10px 23px;
  display: block;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
}

.header-content nav ul li .link-item:before,
.header-content nav ul li .link-item:after {
  content: "";
  position: absolute;
  border-style: solid;
  top: 0;
  left: 0;
  transition: transform 0.2s;
}
.header-content nav ul li .link-item:before {
  border-width: 0 2px;
  width: 96%;
  height: 100%;
  transform: scale3d(1, 0, 1);
  border-color: var(--maincolor);
}
.header-content nav ul li .link-item:hover:before {
  transform: scale3d(1, 1, 1);
}
.header-content nav ul li .link-item:after {
  content: "";
  position: absolute;
  border-width: 3px 0;
  border-color: var(--maincolor);
  border-style: solid;
  width: 98%;
  height: 91%;
  top: 0;
  left: 0;
  transition: transform 0.2s;
  transform: scale3d(0, 1, 1);
  transform-origin: left;
}
.header-content nav ul li .link-item:hover:after {
  transform: scale3d(1, 1, 1);
  transition-delay: 0.2s;
}
.header-content .login ul li {
  padding: 10px;
  font-weight: normal !important;
  cursor: pointer;
  font-size: 20px;
}
.header-content .login ul li:last-child i {
  position: relative;
  margin-right: 11px;
}
.header-content .login ul li:last-child i::after {
  position: absolute;
  content: "0";
  background: var(--maincolor);
  color: #fff;
  bottom: -10px;
  padding: 3px;
  font-size: 13px;
  left: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*dropdown*/
.dropdown {
  position: relative;
}
.dropdown-menue {
  position: absolute;
  border: 1px solid var(--maincolor);
  padding: 10px;
  margin-top: 3px;
  background: #fff;
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s visibility 0.5s;
  line-height: 1.7;
  z-index: 10;
}
.dropdown:hover .dropdown-menue {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
.dropdown-menue ul {
  display: table-cell;
  text-align: center;
  /* font-size: 20px; */
  padding: 10px;
}
.dropdown-menue ul li:first-child a {
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px dotted var(--maincolor);
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.dropdown-menue ul li {
  line-height: 1.5;
  display: block;
}
/*slider*/
.swiper {
  width: 80%;
  margin: auto;
  height: 80vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--maincolor) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--maincolor) !important;
}

/*section category*/
.category-itmes {
  display: grid;
  grid-template-columns: auto auto auto; /* OR repeat(3, 1fr)*/
  grid-gap: 20px;
  text-align: center;
}
.category-item {
  position: relative;
}

.category-item img {
  width: 100%;
  margin-bottom: 25px;
}
.category-item-title {
  text-align: left;
}
.category-item-subtitle {
  color: #666;
  font-weight: 20px;
  text-align: left;
}
.category-item .icon {
  width: 30px;
  height: 30px;
  background: var(--maincolor);
  color: #fff;
  text-align: center;
  display: block;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  cursor: pointer;
}
.category-item:hover .icon {
  visibility: visible;
  opacity: 1;
}
/*discount*/
.discount {
  margin: 30px 0;
  display: flex;
}
.discount-desc {
  flex: 2;
  background: #ffd6d6;
  padding: 20px;
  position: relative;
}
.discount-desc .top {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}
.discount-desc .top .icon {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 15px;
  font-size: 50px;
  color: var(--maincolor);
}
.discount-title,
.discount-subtitle {
  margin-left: 10px;
}
.discount-desc .top + p {
  line-height: 1.5;
}
.discount-desc p {
  color: #666;
}
.discount-desc .bollets {
  text-align: right;
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.discount-desc .bollets span {
  display: inline-block;
  width: 50px;
  height: 2px;
  background: var(--maincolor);
  margin-left: 10px;
}
.discount-desc span {
  color: #555;
}
.discount-desc .bollets:hover span {
  /* background-color:rgb(204, 190, 190); */
  cursor: pointer;
}
.discount-item {
  flex: 1;
  height: 300px;
  position: relative;
  top: 0;
}

.discount-item-info {
  position: absolute;
  top: 10px;
  left: 10px;
  /* background: #eee; */
  /* border-radius: 10px; */
  padding: 10px;
  /* opacity: 0.8; */
}
.discount-item-info h3 {
  font-weight: bold;
  color: #333;
}
/* .discount-item-info h2 {
  font-size: 20px;
  color: var(--subcolor);
} */
.discount-item:nth-child(2) {
  background-image: url(../images/discount22.jpg);
  background-size: cover;
  margin: 0 20px;
  transition: transform 0.5s;
}
.discount-item:nth-child(2):hover {
  transform: scale(1.1);
}

.discount-item:nth-child(3) {
  background-image: url(../images/discount33.jpg);
  background-size: cover;
  transition: transform 0.5s;
}
.discount-item:nth-child(3):hover {
  transform: scale(1.1);
}

/*sprites*/
.sprites {
  display: flex;
  margin-bottom: 55px;
}
.sprite-item {
  flex: 1;
  text-align: center;
  border-right: 1 solid gray;
}
.sprite-item:last-child {
  border: 0;
}
.sprite-info h3 {
  font-size: 17px;
  color: #212121;
}
.sprite-info span {
  color: gray;
  font-size: 15px;
}
.sprite-icon {
  background-image: url(../images/service-icon.png);
  height: 55px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.sprite-icon-1 {
  background-position: center 5px;
  transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-1 {
  background-position: center -86px;
}
.sprite-icon-2 {
  background-position: center -180px;
  transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-2 {
  background-position: center -273px;
}
.sprite-icon-3 {
  background-position: center -366px;
  transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-3 {
  background-position: center -455px;
}
.sprite-icon-4 {
  background-position: center -549px;
  transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-4 {
  background-position: center -639px;
}
.sprite-icon-5 {
  background-position: center -734px;
  transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-5 {
  background-position: center -826px;
}
/*./sprites*/
/*hr*/
.line1 {
  opacity: 0.5;
}
/*products*/
.products {
  text-align: center;
}
.products .pro-container {
  display: flex;
  justify-content: start;
  padding-top: 20px;
  flex-wrap: wrap;
  column-gap: 25px;
  align-items: flex-start;
  margin-bottom: 40px;
}
.pragraph {
  margin-top: 30px;
  text-transform: capitalize;
  font-weight: 500;
  color: #777;
  word-spacing: 2px;
}
.list-products {
  display: flex;
  justify-content: center;
}
.list-products li {
  margin: 10px 20px;
}

.products .pro {
  width: calc((100% / 4) - 25px);
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #ff523b;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  overflow: hidden;
  align-self : normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.products .pro .product-img-overLay,
.products .pro .product-img {
  width: 100%;
  max-height : 250px
  border-radius: 20px;
  overflow: hidden;
}
.products .pro .product-img-overLay img,
.products .pro .product-img img {
  width: 100%;
  height : 100%;
  object-fit: cover;
  border-radius: 20px;
}

.product-img-overLay {
  position: absolute;
  top: 0;
  left: 0;
  transform: scalex(0);
  transition: transform 0.4s;
  opacity: 0.3;
  padding: 10px 12px;
}

.pro:hover .product-img-overLay {
  transform: scaleX(1);
  opacity: 1;
}

.pro .product-details ul {
  position: absolute;
  top: 25%;
  left: 17%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.pro .product-details ul li {
  color: var(--blackcolor);
  text-align: center;
  font-size: 20px;
  background: #ff523b;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 20px;
  transform: translateX(-100px);
  transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pro .product-details ul:last-child {
  transition-delay: 0.2s;
}

.pro:hover .product-details ul li {
  transform: translateX(0px);
}

.pro .product-details .des {
  text-align: start;
  padding: 10px 0;
}
.pro .product-details .des span {
  color: #777;
  font-size: 12px;
  font-weight: 500;
}
.pro .product-details .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
.pro .product-details .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
.pro .product-details .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: var(--maincolor);
}
.pro .product-details .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartt {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  background-color: #ffd6d6;
  font-weight: 500;
}

.cartt i {
  color: var(--maincolor) !important;
  font-size: 15px !important;
}
/*------ testimonials ------*/
.testimonial {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 100px;
}
.testimonial .line {
  display: block;
  width: 90px;
  margin: auto;
  height: 3px;
  background: var(--maincolor);
  transition: width 0.5s;
}
.testimonial:hover .line {
  width: 120px;
  cursor: pointer;
}

.testimonial .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.testimonial .row .col-1 {
  text-align: center;
  padding: 40px 30px;
  /* border: 1px solid #ff523b; */
  width: calc((90% / 3) - 30px);
  /* min-width: 200px; */
  /* height: 450px; */
  padding: 10px 12px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  /* position: relative; */
  /* overflow: hidden; */
}
.testimonial .row .col-1:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}

.testimonial .col-1 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-1:hover {
  transform: translateY(-10px);
}
.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.col-1 .star {
  font-size: 13px;
  color: var(--maincolor);
}
.col-1 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-1 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/* start connect us
.connect .content {
  width: 100%;
}
.connect .connect-info {
  width: 60%;
  margin: auto;
}
.connect .title h2{
  text-align: center;
  text-transform: capitalize ;

}
.connect .title span{
  display: inline-block;
  width: 50px;
  height: 2px;
  background: var(--maincolor);
  margin-left: 10px;
  text-align: center;
}
.connect-item {
  width: 33.333%;
  float: left;
  text-align: center;
  margin: 0px 0px 40px 0px;
}
.connect-item .icon {
  color: #f3971b;
}
.connect-item-title {
  color: #191513;
  font-size: 25px;
  text-transform: capitalize;
  margin: 10px 0px;
  
}
.connect-item-desc {
  font-size: 15px;
  font-family: serif;
  text-transform: capitalize;
  color: #999;
}

.connect-item-form {
  width: 60%;
  height: 400px;
  margin: auto;
}
.connect-item-form .login {
  width: 40%;
  height: 400px;
  float: left;
  background-color: rgba(19, 15, 13, 0.9);
  border-radius: 20px 0px 0px 20px;
  text-align: center;
  padding: 120px 20px;
}

.connect-item-form .login-title {
  color: #f3971b;
  font-size: 30px;
  text-transform: capitalize;
}
.connect-item-form .login-desc {
  font-size: 14px;
  text-transform: lowercase;
  color: #e9e9e9;
  font-family: "Source Serif Pro", serif;
  margin-bottom: 20px;
  line-height: 1.5;
}
.connect-item-form .login-btn {
  width: 140px;
  padding: 10px;
  border-radius: 30px;
  text-transform: capitalize;
  outline: none;
  border: none;
  background: none;
  border: 1px solid #f3971b;
  color: #fff;
  cursor: pointer;
}

.connect-item-form .signup {
  width: 60%;
  height: 400px;
  float: left;
  background-color: whitesmoke;
  border-radius: 0px 20px 20px 0px;
  padding: 20px;
}
.connect-item-form .signup .title {
  margin-bottom: 30px;
}
.connect-item-form .signup .title span {
  width: 0%;
}
.connect-item-form .signup .title p {
  font-size: 14px;
  text-transform: capitalize;
  color: #999;
  font-family: "Source Serif Pro", serif;
}
.connect-item-form .signup .enter input {
  display: block;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: 0px;
  outline: none;
  border: none;
  color: #191513;
  background: none;
  border-bottom: 3px solid #f3971b;
}
.connect-item-form .signup .enter .signup-btn {
  width: 140px;
  padding: 13px;
  border-radius: 30px;
  text-transform: capitalize;
  outline: none;
  border: none;
  background: none;
  color: #f3971b;
  cursor: pointer;
  background-color: rgba(19, 15, 13, 0.9);
  display: block;
  margin: 15px auto;
}
.enter .input-error {
  display: block;
  color: red;
  font-size: 13px;
  font-family: serif;
  padding: 5px 0px 0px 10px;
} */

/*------------start footer-------*/
.footer {
  background-color: var(--subcolor);
  color: #999;
  padding: 20px 0;
  text-align: center;
  margin-top: 10px;
}

.footer i {
  margin: 10px 0;
  padding: 2px;
  cursor: pointer;
}

/*end footer*/
